<!DOCTYPE html>
<html lang="en">

<head>
    <%-include ../../layout/head%>
        <title>Find Your Friend</title>
</head>

<body id="dogShow">
    <header id="dog-show-header" class="header">
        <section id="non-main-logo">
            <%-include ../../layout/nav%>
                <img id="small-logo" src="images/woofer-logo.png" alt="Woofer Logo">
        </section>
    </header>
    <main>
        <div class="wrap">
            <!-- start jtinder container -->
            <div id="tinderslide">
                <ul class="dogShow-ul">
                    <% dataArray.forEach(dog => { %>
                        <li class="dogShow-img <%=dog.ID%>">
                                <div class="img" style="background-image: url(<%=dog.picture[3].$t%>)"></div>
                            <div><%=dog.name%></div>
                            <div class="like"></div>
                            <div class="dislike"></div>                            
                        </li>
                                <div class="dogShow-detailForm-div" id="<%=dog.ID%>">
                                    <form  class="dogShow-detailForm" action="/available-dogs" method="POST">
                                        <h2 class="form-title">Information about <%=dog.name%></h2>
                                        <div class="form-input">
                                            <label for="breed">Breed: </label>
                                            <input type="text" value="<%=dog.breed%>" name="breed">
                                        </div>
                                        <div class="form-input">
                                            <label for="mix">Mixed Breed: </label>
                                            <input type="text" value="<%=dog.mix%>" name="mix">
                                        </div>
                                        <div class="form-input">
                                            <label for="age">Age </label>
                                            <input type="text" value="<%=dog.age%>" name="age">
                                        </div>
                                        <div class="form-input">
                                            <label for="gender">Gender: </label>
                                            <input type="text" value="<%=dog.gender%>" name="gender">
                                        </div>
                                        <div class="form-input">
                                            <label for="size">Size: </label>
                                            <input type="text" value="<%=dog.size%>" name="size">
                                        </div>
                                        <div class="form-description">
                                            <label for="description">Description: </label>
                                            <textarea name="description" rows="10" wrap="soft"><%=dog.description%></textarea>
                                        </div>
                                        <input class ="thisss"type="hidden" value="<%=dog.ID%>" name="ID">
                                        <input type="hidden" value="<%=dog.locationID%>" name="location">
                                        <input type="hidden" value="<%=dog.name%>" name="name">
                                        <input type="hidden" value="<%=dog.picture[3].$t%>" name="image">
                                        <input type="hidden" value="<%=dog.isAdopted%>" name="available">
                                        <input type="hidden" value="<%=dog.housetrained%>" name="housetrained">
                                        <input type="hidden" value="<%=dog.fixed %>" name="altered">
                                        <input type="hidden" value="<%=dog.catFriendly %>" name="noCats">
                                        <input type="hidden" value="<%=dog.kidFriendly %>" name="noKids">
                                        <input type="hidden" value="<%=dog.vaccinated  %>" name="hasShots">
                                    </form>
                                </div>
                    <% }) %>
                </ul>
            </div>
            <!-- end jtinder container -->
        </div>
        <!-- end padding container -->

        <!-- jTinder trigger by buttons  -->
        <div class="actions">
            <a href="#" class="dislike"><i></i></a>
            <a href="#" class="toggle"><i></i></a>
            <a href="#" class="like"><i></i></a>
        </div>

        <!-- jTinder status text  -->
        <div id="status"></div>

    </main>
</body>
<!-- jQuery lib -->
<script type="text/javascript" src="../../js/jTinder-Library/jquery.min.js"></script>
<!-- transform2d lib -->
<script type="text/javascript" src="../../js/jTinder-Library/jquery.transform2d.js"></script>
<!-- jTinder lib -->
<script type="text/javascript" src="../../js/jTinder-Library/jquery.jTinder.js"></script>
<!-- jTinder initialization script -->
<script type="text/javascript" src="../../js/jTinder-Library/main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="/js/app.js"></script>

</html>