<!DOCTYPE html>
<html lang="en">

<head>
  <%-include ../../layout/head%>
    <title>Detailed Dog Information</title>
    <meta name="format-detection" content="telephone=no">
</head>

<body id="dogDetail">
  <header id="dog-show-header" class="header">
    <section id="non-main-logo">
      <%-include ../../layout/nav%>
        <img id="small-logo" src="images/woofer-logo.png" alt="Woofer Logo">
    </section>
  </header>
  <main id="dogDetail-main">
    <div class="dogDetail-main-div">
      <div class="dogDetail-name-div">
        <h2 class="dogDetail-heading">All About <%=dogDeets[0].name%></h2>
      </div>
      <div class="dogDetail-all-dog-info">
        <div class="dogDetail-img-div">
          <img src="<%=dogDeets[0].picture[3].$t%>" alt="Picture of <%=dogDeets[0].name%>!!" class="dogDetail-img">
        </div>
        <div class="dogDetail-info-div">
          <ul class="dogDetail-info-ul">
            <li>Age: <%=dogDeets[0].age%></li>
            <li>Gender: <%=dogDeets[0].gender%></li>
            <li>Size: <%dogDeets[0].size%></li>
            <li>Breed: <%=dogDeets[0].breed%></li>
            <li>Mix: <%=dogDeets[0].mix%></li>
          </ul>
          <section class="options dogDetail-options">
              <span class="fa-layers altered">
                <i class="fas fa-cut"></i>
              </span>
              <span class="fa-layers hasShots">
                <i class="fas fa-syringe"></i>
              </span>
              <span class="fa-layers housetrained">
                <i class="fas fa-toilet"></i>
              </span>
              <span class="fa-layers noCats">
                <i class="fas fa-cat"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
              <span class="fa-layers fa-fw noKids">
                <i class="fas fa-baby"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
            </section>
        </div>
      </div>
      <div class="dogDetail-description">
        <p>Biography: <%=dogDeets[0].description%> 
        </p>
      </div>
      <div>
        <div class="shelter-name-div">
          <h2 class="dogDetail-heading">Rescue Organization</h2>
        </div>
        <ul class="shelter-info">
          <li>Name: <%dogDeets[1].name%></li>
          <li class="shelter-sub-info">Phone: <a class="a-tag" href="tel:+1 <%=dogDeets[1].phone%>"><%=dogDeets[1].phone%></a></li>
          <li class="shelter-sub-info">Location: <%=dogDeets[1].city%>, <%=dogDeets[1].state%> <%=dogDeets[1].zip%></li>
          <li>Email: <a class="a-tag"href="mailto:<%=dogDeets[1].email%>?subject=Adoption Inquiry about <%dogDeets[1].name%>"><%=dogDeets[1].email%></a></li>
        </ul>
      </div>
    </div>
  </main>
  <footer id="dogDetail-footer">
      <%-include ../../layout/footer%>
  </footer>
</body>

</html>