<!DOCTYPE html>
<html lang="en">

<head>
    <%-include ../../layout/head%>
        <title>Find Your Friend</title>
</head>

<body id="listShow">
    <header id="dog-show-header" class="header">
        <section id="non-main-logo">
            <%-include ../../layout/nav%>
                <img id="small-logo" src="images/woofer-logo.png" alt="Woofer Logo">
        </section>
    </header>
    <main>
      
      <div id="wooflist-banner">
        <h2>Your WoofList</h2>
      </div>
      
      <article>
        <ul>
        <%console.log('running listshow')%>
          <% likedDogs.forEach(likedDog => { %>
            <li class="woof-list-dog">
              <div class="wooflist-image-div">
                <img class="woof-list-img" src="<%=likedDog.picture%>">
              </div>
              <img class="available"> <!--this will hide/show -->
              <section class="list-section" id="woof-list-section">
                <section class="wooflist-p">
                  <p>Name: <%=likedDog.name%></p>
                  <p>Age: <%=likedDog.age%></p>
                  <p>Breed: <%=likedDog.breed%></p>
                </section>
                <section class="options">

                  <% if (likedDog.fixed === 'true'){%>
                  <span class="fa-layers altered">
                    <i class="fas fa-cut"></i>
                  </span>
                  <%}%>

                  <%console.log('thisdoglikescats ' + likedDog.catFriendly)%>
                  <%if (likedDog.vaccinated === 'true') {%>
                  <span class="fa-layers hasShots">
                    <i class="fas fa-syringe"></i>
                  </span>
                  <%}%>

                  <%if (likedDog.housetrained === 'true') {%>
                  <span class="fa-layers housetrained">
                    <i class="fas fa-toilet"></i>
                  </span>
                  <%}%>

                  <%if (likedDog.catFriendly === 'false') {%>
                  <span class="fa-layers noCats">
                    <i class="fas fa-cat"></i>
                    <i class="fa-inverse fas fa-ban"></i>
                  </span>
                  <%}%>

                  <%if (likedDog.kidFriendly === 'false') {%>
                  <span class="fa-layers fa-fw noKids">
                    <i class="fas fa-baby"></i>
                    <i class="fa-inverse fas fa-ban"></i>
                  </span>
                  <%}%>
                </section>
                <section class="forms-section woof-list-forms-section">
                  
                  <form class="wooflist-form" action="/dog-detail" method="GET"> 
                      <input type="hidden" value="<%=likedDog.ID%>" name="dogId">
                      <input class="button detail-button" type="submit" value="View Details">
                  </form>

                  <form class="wooflist-form" action="/remove-dog" method="POST">
                    <input type="hidden" value="<%=likedDog.ID%>" name="dogId">
                    <input type="hidden" value="" name="username" class="store-uId">
                    <input class="button delete-button" type="submit" value="Delete">
                  </form>

                </section> 

            </section>
            </li>
          <% }) %> 
        </ul>
      </article>
      <%-include ../../layout/footer%>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/uId.js"></script>
</body>
</html>